:root {
  --xr_color_1: #c14557;
  --xr_color_2: #c7344f;
  --xr_color_3: #cf4354;
  --xr_color_4: #f4928b;
  --xr_color_5: #ed7b7a;
  --xr_color_6: #c97c87;
  --xr_color_7: #dd6a74;
  --xr_color_8: #ff9b98;
  --xr_color_9: #ec626b;
  --xr_color_10: #ee938c;
  --xr_color_11: #c44659;
  --xr_color_12: #6C00BA;
  --xr_color_13: #D31F21;
  --xr_color_14: #b5818e;
  --xr_color_15: #c7919b;
  --xr_color_16: #c94a57;
  --xr_color_17: #bdb2b8;
  --xr_color_18: #e27d86;
  --xr_color_19: #ef8d90;
  --xr_color_20: #d9a6af;
  --xr_color_21: #da949a;
  
  --Gcolor: rgba(0, 0, 0, 0);
  --Gcolor1A: rgba(13, 189, 231, 0.5);
  --Gcolor1B: rgba(237, 17, 167, 0.5);
  --Gcolor1C: rgba(0, 0, 0, 0.5);
  --Gcolor1D: rgba(255, 255, 255, 0.5);
  /* 设置渐变色 */
  --gradient1A: linear-gradient(180deg, var(--Gcolor1A), var(--Gcolor1B));
  --gradient1B: linear-gradient(180deg, var(--Gcolor1B), var(--Gcolor1C));
  --gradient1C: linear-gradient(180deg, var(--Gcolor1C), var(--Gcolor1D));
  --gradient1D: linear-gradient(180deg, var(--Gcolor1D), var(--Gcolor1A));
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-image: var(--gradient1C);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}